.campo-texto {
    margin: 24px 0;
}
label {
    display: block;
    margin-bottom:.5em;
    font-size: 1.5rem;
}
.campo-texto input, select {
    background-color: transparent;
    width: 100%;
    border: none;
    padding: 1.5em;
    outline: 0;
    border:none;
    border-bottom: 2px solid #188fff1c;
    
    
}
select {
    margin-bottom: 36px;
}
input:focus {
    border-color: #bbeeff;
}