.campo-texto {
    margin: 24px 0;
}
label {
    display: block;
    margin-bottom:.5em;
    font-size: 1.5rem;
}
.campo-texto input, select {
    background-color: white;
    box-shadow: 0px 5px 20px rgba(17, 17, 17, 0.089);
    width: 100%;
    border: none;
    padding: 1.5em;
}