.formulario {
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

.formulario form {
    width: 100%;
    border: none;
    max-width: 700px;
    background-color: #fafafa;
    padding: 2em;
    box-shadow: 0 0px 15px rgba(49, 48, 48, 0.185);
}