.formulario {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
 
   
   
}
#formularioId {
    padding-top: 1em;
   
}
.formulario form {
    border: none;
    width: 80%;
    max-width: 700px;
    background-color: #fafafa;
    padding: 2.5em;
    box-shadow: 0 0px 15px 15px rgba(49, 48, 48, 0.274);
    border-radius: 2em;

}

@media screen and (max-width:700px) {
    .formulario form {
        width: 100%;
        border-radius: 0;
        
    }
    .formulario {
        margin-bottom: 0em;
    }
    #formularioId {
        padding-top: 0em;
       
    }
   
}
