.cabecalho {
    background-color:  #F0F0F0;
    border-radius: 1em 1em 0 0;
    padding: 1em;
 
}
.colaborador {
    min-width: 250px;
    width: 20%;
    color:rgb(46, 46, 46);

    
}
.colaborador .img-artista, .img-substituir {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    object-fit: cover;
    bottom: -50px;
    justify-self: center;
    margin: 0 auto;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.158);
    
}

.rodape {
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 1em 1em;
    padding: 60px;
    
}
h4 , h5 {
    padding: .5em  0;
}
h4 {
    color: #6278F7;
    font-weight: bold;
   
}
h5 {
    color: #212121;
    margin-top: 1em;
}

.img-substituir {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 2rem;
    color: white;
    text-shadow:  0px 0px 5px rgba(36, 36, 36, 0.384);
   
}


