

.footer {
    color: #FFF;
    padding: 80px;
    border-top: rgb(47, 173, 215) 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
background: rgba(255, 255, 255, 0);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.7px);
-webkit-backdrop-filter: blur(5.7px);
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}