

.footer {
    color: #FFF;
    padding: 80px;
    border-top: rgb(47, 173, 215) 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    min-height: 200px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
}


p {
    margin-bottom: 1em;
}

@media (max-width:700px) {
    .footer img {
        width: 100px;
    }
    .footer {
       padding: 2em;
      font-size: 1rem;
    }
}
