.botao {
    padding: 1.5em;
    cursor: pointer;
    color:white;
    background-color:#bbeeff; ;
    border: none;
    color:rgb(39, 39, 39);
    border-radius: 2em;
    font-size: 1.2em;
    width: 80%;
    max-width: 350px;
    margin-top: 1.5em;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing:5px;
    box-shadow: 0px 0px 5px  #5fcaee5b;
    margin: 0 auto;
    display: block;
}
