.botao {
    background-color: #6278f7;
    border-radius: 0.5em;
    font-weight: 700;
    font-size: .95rem;
    padding: 1.5em;
    border: 0;
    cursor: pointer;
    color:white;
    margin-top: 2.5em;
}
.botao:hover {
    color:#95ffd4;
    transition: .8s;
}